* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 12px !important;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0 8px !important;
  }
}
